In [2]:
import pandas as pd 

import kaggle  # For downloading data using Kaggle API
import zipfile # To extract data from zip file

In [4]:
# downloading dataset directly using Kaggle API

!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
Downloading london-bike-sharing-dataset.zip to a:\Personal Projects\4 London Bike rides Tableau

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|██████████| 165k/165k [00:00<00:00, 181kB/s]
100%|██████████| 165k/165k [00:00<00:00, 181kB/s]

In [7]:
# Extracting data from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

# london_merged.csv file must have been created in the folder

In [9]:
# read in the csv file as a pandas df
bikes = pd.read_csv("london_merged.csv")

In [10]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [13]:
bikes.shape
# It means the dataset has 17414 rows and 10 columns

(17414, 10)

In [14]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [16]:
# Count the unique values in the weather_code column
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [17]:
# Count the unique values in the season column
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [18]:
# creating a dictionary specifying column names that i want to use
new_cols_dict = {
    'timestamp':'time',
    'cnt' :'count',
    't1' : 'temp_real_C',
    't2' : 'temp_feels_like_C',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'weather_code': 'weather',
    'is_holiday':'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'season'
    }

# Renaming the columns to the specified column names
bikes.rename(new_cols_dict,axis=1,inplace=True)

In [19]:
# changing humidity values to percentage between 0 and 1
bikes.humidity_percent = bikes.humidity_percent/100

## Metadata:
"timestamp" - timestamp field for grouping the data

"cnt" - the count of a new bike shares

"t1" - real temperature in C

"t2" - temperature in C "feels like"

"hum" - humidity in percentage

"wind_speed" - wind speed in km/h

"weather_code" - category of the weather

"is_holiday" - boolean field - 1 holiday / 0 non holiday

"is_weekend" - boolean field - 1 if the day is weekend

"season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.


"weathe_code" category description:
1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog

In [21]:
# Creating a season dictionary from MetaData so that we can map the integers 0-3 to actual written values

season_dict = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'fall',
    '3.0':'winter'
}

# Creating a Weather dictionary from MetaData so that we can map the integers 0-3 to actual written values

weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall',
}

In [22]:
# Changing the DataType of seasons column data type to string
bikes.season = bikes.season.astype('str')
# Mapping the values 0-3 ro actual season names
bikes.season = bikes.season.map(season_dict)



# Changing the DataType of weather column data type to string
bikes.weather = bikes.weather.astype('str')
# Mapping the values to actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [26]:
#checking our modified dataframe with new values 
bikes.tail(10)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
17404,2017-01-03 14:00:00,765,6.0,2.0,0.735,22.0,Broken clouds,0.0,0.0,winter
17405,2017-01-03 15:00:00,845,6.0,2.0,0.710,27.0,Cloudy,0.0,0.0,winter
17406,2017-01-03 16:00:00,1201,6.0,2.0,0.710,26.0,Cloudy,0.0,0.0,winter
17407,2017-01-03 17:00:00,2742,6.0,2.0,0.735,21.0,Broken clouds,0.0,0.0,winter
17408,2017-01-03 18:00:00,2220,5.0,1.0,0.810,22.0,Scattered clouds,0.0,0.0,winter
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter

In [31]:
# Writing the final dataframe to an excel file that we will use in our Tableau Visualizations. The file will be 'london_bikes_final_df.xlsx' and sheet will be 'Data'
# bikes.to_excel('london_bikes_final_df.xlsx', sheet_name= 'Data')
bikes.to_excel('london_bikes_final_df.xlsx', sheet_name= 'Data')